[submodule "themes/559Theme"]
	path = themes/559Theme
	url = git@github.com:CS559/559Theme.git
[submodule "themes/roadster"]
	path = themes/roadster
	url = https://github.com/mansoorbarri/Roadster.git
