<!DOCTYPE html>
{{/* Mainroad baseof.html hacked by gleicher to be:
	- more SASS friendly
	- parameterized CSS works correctly
    - make header options
    - default language is English-US
*/}}
<html class="no-js" lang="{{ .Site.LanguageCode | default "en-us" }}"> {{/* gleicher - add default*/}}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{/* gleicher - add a base href for 404 pages */}}
    {{ if eq .Kind "404" }}
    <base href="{{ .Site.Params.errorBase | default "./" }}">
    {{ end }}
    <title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{/* this script let's us know that JavaScript is working - it changes the document class from no-js to js if (and only if) js is working */}}
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }} 
	{{ if .Site.Params.twitter_cards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,700;1,300&family=Libre+Baskerville&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title  | safeHTML }}
	{{ end -}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    {{/* gleicher - allow for SASS */}}
		{{ $style := resources.Get "css/style.scss" | resources.ExecuteAsTemplate "css/style.scss" . | resources.ToCSS -}}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{/* gleicher - load the 559 SASS file - so we don't need to have it as a custom */}}
		{{- $mystyle := resources.Get "css/559.scss" | resources.ExecuteAsTemplate "css/559.scss" . | resources.ToCSS -}}
		<link rel="stylesheet" href="{{ $mystyle.RelPermalink }}">
	{{/* gleicher - make customCSS work correctly using SASS*/}}
		{{ $dot := . -}}
		{{ range .Site.Params.customCSS -}}
		{{ $style := resources.Get . | resources.ExecuteAsTemplate . $dot | resources.ToCSS }}
	  <link rel="stylesheet" href="{{ $style.RelPermalink }}" crossorigin="anonymous">
		{{- end -}}
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
    {{/* {{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }} */}}
    {{/* a new redirect feature */}}
    {{- if isset .Page.Params "redirect" -}}
    <meta http-equiv="refresh" content="6; URL={{- .Page.Params.redirect -}}" />
    {{- end -}}
</head>
<body class="body">
	<div class="container container--outer">
        {{/* gleicher - have a noheader options */}}
		{{- if isset .Page.Params "noheader" -}}
		{{- else -}}
			{{ partial "header" . }}
		{{- end -}}
        <p>Debugging Output in Local</p>
        <p>Base URL: {{ .Site.BaseURL }}</p>
        {{- $testLogo := resources.Get "/svg/crest.svg" }}
        <p>Logo Link RelPermalink: {{ $testLogo.RelPermalink }}</p>
        <div class="wrapper flex">
			<div class="primary">
                {{- if isset .Page.Params "redirect" -}}
                <div class="dimbox"><h3>
                    A newer version of this page is available at:
                    <a href="{{- .Page.Params.redirect }}">{{- .Page.Params.redirect }}</a>
                </h3>
                <p>You will be redirected there in a few seconds...</p>
                </div>
                {{- end }}
                {{- if .Site.Params.archive -}}
                    <div class="dimbox">
                    <h2 style="color:black"> {{ .Site.Params.archive }} </h2>
                    {{- if .Site.Params.archivenote -}}
                        <h3> {{ .Site.Params.archivenote }} </h3>
                        {{- if .Site.Params.archivenexturl -}}
                        <p> You might want <a href="{{- .Site.Params.archivenexturl -}}">{{- .Site.Params.archivenextname -}}</a></p>
                      {{- end -}}                    
                    {{- end -}}
                    </div>
                {{- end -}}

			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "/js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>
